<div class='ui middle aligned center aligned grid' style="margin-top: 2%">
  <div class="ui stacked segment">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'ui large form' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true %>
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="user outline icon"></i>
        <%= f.text_field :last_name, placeholder: 'Last Name' %>
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="envelope icon"></i>
        <%= f.email_field :email, placeholder: 'E-mail Address', autocomplete: "email" %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <i>(leave blank if you don't want to change it)</i><br/>
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= f.password_field :password, placeholder: 'New Password', autocomplete: "new-password" %>
      </div>
      <% if @minimum_password_length %>
          <br/>
          <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= f.password_field :password_confirmation, placeholder: 'Password', autocomplete: "new-password" %>
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <%= f.password_field :current_password, placeholder: 'Password Confirmation', autocomplete: "current-password" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: 'ui fluid large blue submit button' %>
    </div>
<% end %>


<%= link_to "Back", :back , class: 'ui fluid large black submit button'%>
  </div>
</div>