<div class="ui middle aligned center aligned grid">
  <div class="ui stacked segment" style="margin-top: 5%">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'ui large form'}) do |f| %>

  <div class="field">
    <div class="ui left icon input">
      <i class="envelope icon"></i>
      <%= f.email_field :email, placeholder: 'E-mail address', autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="field">
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Log in' , class: 'ui fluid large blue submit button' %>
  </div>
        <div style='text-align: center'>
          <br/>
          <span>Don't have an account?</span>
          <br/>
          <br/>
          <%= link_to  'Sign up!', new_registration_path(resource_name), class: 'ui button' %><br />
        </div>
  </div>
<% end %>

</div>