<div class='ui middle aligned center aligned grid' style="margin-top: 2%">
  <div class="ui stacked segment">

    <%= form_with(model: memory, local: true, html: {class: 'ui large form'}) do |form| %>
        <% if memory.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

              <ul>
                <% memory.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= form.text_area :description, placeholder: 'Description' %>
        </div>

        <div class="field inline">
          <%= form.date_select :date %>
        </div>

        <div class="field">
          <%= form.text_field :weather, placeholder: 'Weahter' %>
        </div>

        <div class="field">
          <%= form.text_field :local, placeholder: 'Local' %>
        </div>

        <div class="actions">
          <%= form.submit 'Create Memory', class: 'ui fluid large blue submit button' %>
        </div>
    <% end %>

    <%= link_to 'Back', memories_path, class: 'ui fluid large black submit button' %>

  </div>
</div>