<p id="notice"><%= notice %></p>

<h1 class="ui dividing header" style="margin-top: 5%">Memories</h1>

<%= link_to 'New Memory', new_memory_path, class: 'ui large gray submit button' %>

<div class="ui link cards">
<% @memories.each do |memory| %>
    <div class="ui card" style="margin-top: 3%">
      <div class="content memory-data">
        <p>
          <strong class="ui sub header">Description:</strong>
          <%= memory.description %>
        </p>
        <p>
          <strong class="ui sub header">Date:</strong>
          <%= memory.formatted_date %>
        </p>
        <p>    <strong class="ui sub header">Weather:</strong>
          <%= memory.weather %>
        </p>
        <p>    <strong class="ui sub header">Local:</strong>
          <%= memory.local %>
        </p>
        <p>    <strong class="ui sub header">User:</strong>
          <%= memory.user.name %>
        </p>

      </div>
      <div class="content memory-buttons">
        <%= link_to 'Edit', edit_memory_path(memory), class: 'ui fluid large blue submit button' %>
        <br/>
        <%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui fluid large red submit button' %>
      </div>
    </div><% end %>
</div>

