<!DOCTYPE html>
<html>
  <head>
    <title>Memories</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="ui container">
  <% if user_signed_in? %>
      <div class="ui fixed inverted menu" style="margin-top: 0;" >
      <div class="ui container" >
      <%= link_to "Hello, #{current_user.name}!", memories_path, :class => 'header item' %>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'header item' %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'header item'  %>
      </div>
      </div>
  <% else %>
      <div class="ui fixed inverted menu" style="margin-top: 0;">
      <div class="ui container">
      <%= link_to "Sign up", new_user_registration_path, :class => 'header item'  %>
      <%= link_to "Login", new_user_session_path, :class => 'header item'  %>
      </div>
      </div>
  <% end %>
  <%= yield %>
  </body>
</html>
